*,
::before,
::after {
box-sizing: border-box;
margin: 0;
padding: 0;
font-size: 20px; definit le rem originel
}
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Regular.woff") format("woff"), 
    url("fonts/Raleway-Bold.woff") format("woff"), 
    url("fonts/Raleway-Italic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body{
    max-width: 1160px;
    margin: auto;
    padding: 1rem;
    font-family: "Raleway", sans-serif; /* Utilisez Raleway pour tout le contenu */
}

h1, h2, h3{
    font-family: "Lato", sans-serif; /* Utilisez Lato pour les titres */
}
h1{
    font-size: xx-large;
    padding-bottom: 1rem;
}
h2{
    font-size: x-large;
    padding: 1rem;
}



/*partie en tete*/
.profile-picture{
    width: 150px; 
    height: 150px; 
    border-radius: 50%; /* Rendre l'image ronde */
    margin-bottom: 0.5rem; /* Ajouter un peu d'espace en bas de l'image */
    margin-top: 1rem;
    box-shadow: 0 0 1.5rem 0.2rem #dbc2a4;/*ajouter une ombre degradée autour de l'image*/
    cursor: zoom-in;/*cganger le curseur souris au survol*/    
}
#header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #782221;
    padding: 1rem 0 0 0;

}
address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2c1d27;
}
address a{
    text-decoration: none; /* Supprimer les soulignements des liens */
    color: #ffffff; /* Changer la couleur du texte des liens */   
}
address a:hover{
    text-decoration: underline;
    color: #ffffff;
}
#contact_localisation{
    text-align: center;
}


/*partie principale du cv*/
main {
    display: flex;
}
#softSkills {
    max-width: 25%;
    background-color: #782221;
    padding-right: 0.5rem;
    padding-top: 1rem;
}
p {
    padding: 0.5rem;
    line-height: 1.5;
    text-align: justify;
}
#hardSkills{
    flex: 1;
    padding-right: 0.5rem;
    padding-top: 1rem;
    border-right: 0.2rem solid #782221;
}
h3{
    background-color: #dbc2a4;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
#hardSkills h3{
    border-left: 0.2rem solid #782221;
    margin-left: 0.5rem;
}
/* Ajoute une bordure à droite sur le dt et dd correspondant lors du survol */
#hardSkills dl{
    transition: border-right 0.3s ease; /* Ajoute une transition pour une animation fluide */
    border-right: 0.2rem solid transparent; /* Définit une bordure droite transparente par défaut */
}
#hardSkills dl:hover {
    border-right: 0.2rem solid #782221; /* Couleur et épaisseur de la bordure à droite au survol */
}
ul, dl, dd{
    line-height: 2;
    padding-left: 2rem;
}
.burgundy-text{
    color: #782221;
}


/*pied de page*/
footer{
    display: flex;
    justify-content: center;
    background-color: #782221;
    padding: 10px;
}
footer img{
    width: 48px;
    height: auto;
    padding-right: 1rem;/*ajouter un espace entre les 2 img*/
}

